@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
    --color-primary: #E98E1B;
    --color-secondary: #204051;
    --color-white: white;
    --color-black: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR ****************************/


.navbar{
    background: var(--color-secondary);
    height: 80px;
    width: 100%;
}

.navbar .logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navbar ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.navbar ul li a.active, .navbar ul li a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* HEADER ************************/

.header{
    height: 90vh;
    width: 100%;
    background-color: brown;
}












/* MEDIA QUERIE */

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    .navbar ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .navbar ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navbar ul li a{
        font-size: 20px;
    }

    .navbar ul li a:hover, .navbar ul li a.active{
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul{
        left: 0;
    }
}
