@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

:root{
    --color-primary: #E98E1B;
    --color-secondary: #204051;
    --color-white: white;
    --color-black: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-family: 'Gotu', sans-serif;
    background-color: var(--color-white);
    z-index: 1;
}


/* GENERALE **************************/

.box-content{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.padCard{
    padding: 0;
}

.marCard-10{
    margin-top: 10rem;
}

.mt-50{
    margin-top: 5rem;
}

a, a:hover{
    text-decoration: none;
}

/* NAVBAR ****************************/


.navbar{
    background: var(--color-secondary);
    width: 100%;
    padding: 1rem 6rem;
    z-index: 99999999;
}

.navbar-nav .nav-item .link-menu{
    color: white!important;
    font-size: 1.5rem;
    padding: 5px 13px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s;
}

.navbar-nav .nav-item .link-menu:hover{
    color: var(--color-primary)!important;
    transition: all .3s;    
}

/* jQuery Styles */
.navbar-scroll{
	background: var(--color-secondary);
	padding: 0;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
	transition-duration: 0.6s;
}


/* HEADER ************************/

.header{
    height: 90vh;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
}


.header-carousel_item1,
.header-carousel_item2,
.header-carousel_item3{
    height: 90vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: .5rem solid var(--color-primary);

}

.header-carousel_item1{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.144)) ,url('../images/header-2.jpg') ;
    background-size: 100%;

}

.header-carousel_item2{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.144)) ,url('../images/header-3.jpg') ;
    background-size: 100%;
}

.header-carousel_item3{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.144)) ,url('../images/header-3.jpg') ;
    background-size: 100%;
}



.header-carousel_title{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    width: 30rem;
}

.header-carousel_title h1{
    color: var(--color-primary);
    font-size: 2.4rem;
    font-weight:  bold;
}

.header-carousel_title p{
    font-size: 1.5rem;
    color: var(--color-white);
}

/* ABOUT ***********************/

.about{
    background-color: var(--color-white);
}

.about-illustrator{
    width: 100%;
    height: 50rem;
    background-color: var(--color-white);
    margin-top: -10rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 36px -20px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
}

.about-illustrator img{
    width: 100%;
    height: 50rem;
    border-radius: 2rem;
    object-fit: cover;
}

.about-description h3,
.expertise-description h3{
    text-transform: capitalize;
    font-size: 2.8rem;
    color: var(--color-secondary);
    font-weight: bolder;
}

.divider{
    width: 7%;
    height: .2rem;
    background-color: var(--color-secondary);
    border-radius: 1.5rem;
}

.about-description p,
.expertise-description p{
    font-size: 1.6rem;
    text-align: justify;
    margin-top: 3rem;
}

/*  SERVICES **************************/

.services{
    padding: 6rem 0;
    background-color: var(--color-white);
}

.services h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-left: 6rem;
    margin-bottom: 3rem;
    text-transform: capitalize;
}

.services-card{
    min-height: 24rem;
    width: 80%;
    margin: 0 auto;
    border: .1rem solid rgb(175, 175, 175);
    /* border-top: .6rem solid var(--color-secondary); */
    padding: 2rem;
    border-radius: 1rem;
    transition: all .5s;
}

.services-card:hover{
    border: 0;
    border-top: none;
    box-shadow: 0px 0px 36px -20px rgba(0,0,0,0.75);
    border-radius: 1rem;
    transition: all .5s;
}

.services-card__illustration{
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
}

.services-card__illustration img{
    height: 10rem;
    object-fit: cover;
}

.services-card h3{
    text-align: center;
    margin-top: 2.3rem;
    color: var(--color-secondary);
}

/* EXPERTISE  ***************************/

.expertise{
    padding: 0;
    z-index: 999999;
    background-color: var(--color-white);
}

.expertise-description{
    margin-top: 10rem;
}

.expertise-illustration{
    width: 100%;
    height: 45rem;
    background-color: var(--color-white);
    border-radius: 2rem;
    box-shadow: 0px 0px 36px -20px rgba(0,0,0,0.75);
    position: absolute;
    z-index: 999;
    margin-top: 6rem;
}

.expertise-illustration img{
    height: 45rem;
    border-radius: 2rem;
    object-fit: cover;
}
/* SECTION FOUR */

.sectionFour{
    min-height: 40rem;
    width: 100%;
    background: linear-gradient(#204051e3, #204051e3) ,url('../images/header-1.jpg');
    background-attachment: fixed;
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
    margin-top: -5rem;
    padding: 4rem;
}

.sectionFour-card{
    height: 12rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-white);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.sectionFour-card:hover{
    transform: scale(1.08);
    transition: all .3s;
}

.sectionFour-card__illustration{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--color-white);
    border: .1rem solid var(--color-primary);
    box-shadow: 10px 9px 25px -9px rgba(0,0,0,0.75);
    position: absolute;
    top: -20%;
    left: -10%;
    padding: 1rem;
}

.sectionFour-card__description h3{
    font-size: 2rem;
    font-weight: bold;
}

.sectionFour-card__description p{
    font-size: 1.5rem;
}

/* SECTION FIVE ****************************/

.sectionFive{
    background-color: var(--color-white);
}

.sectionFive-title{
    padding: 6rem 0;
}

.sectionFive-title span{
    font-weight: bold;
    color: var(--color-primary);
    font-size: 1.3rem;
}

.sectionFive-title h2{
    font-size: 2.5rem;
    color: var(--color-secondary);
}

.sectionFive-title p{
    font-size: 1.5rem;
    margin-top: 3rem;
    text-align: justify;
}

.sectionFive-illustration{
    height: 23rem;
    width: 100%;
    background-color: #dddddd;
    margin-top: 12rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-icon{
    flex: 1;
    height: 11.2rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    margin-right: 3rem;
}

.icon-info{
    flex: 3;
}

.icon-info h2{
    font-size: 2rem;
    font-weight: bold;
}

.icon-info p{
    font-size: 1.5rem;
    margin-top: 2rem;
}

.owl-theme .owl-nav {
    float: right;
    height: 4rem;
    width: 5rem;
    background: var(--color-primary);
    margin-top: 0px;
    -webkit-tap-highlight-color: transparent;
}

.owl-prev,
.owl-next{
    font-size:1.8rem;
}
/* PARTENAIRE ***************************/

.partenaire{
    background-color: var(--color-white);
}

.partenaire-title{
    margin-bottom: 4rem;
}

.partenaire-title h1{
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--color-secondary);
}

.box-partenaire{
    display: flex;
    flex-wrap: wrap;
}

.box-partenaire_card{
    flex: 10%;
    height: 9rem;
    background-color: #aaa9a9;
    margin-right: 2rem;
    margin-bottom: 1.4rem ;
}

/* CONTACT ************************/

.contact{
    min-height: 25rem;
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 4rem;
    padding: 3rem;
}

.contact h1{
    text-align: center;
    font-size: 2.8rem;
    color: var(--color-secondary);
    margin-bottom: 2rem;
    font-weight: bold;
}

.contact-form{
    width: 50%;
    margin: 0 auto;
}

.contact-form_input{
    display: flex;
}

.contact-form_input input{
    flex: 1;
    margin: 1.4rem;
    height: 4.5rem;
    padding-left: 1.3rem;
    font-size: 1.4rem;

}

.contact-form_input input:focus,
.contact-form_input textarea:focus{
    outline: none;
    border: 1px solid var(--color-primary);
}

.contact-form_input textarea{
    margin: 1.4rem;
    width: 100%;
    padding-left: 1.3rem;
    padding-top: 1.3rem;
    font-size: 1.4rem;
    height: 15rem;
}

.btn-submit{
    border: none;
    padding: .8rem 2rem;
    font-size: 1.6rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    transition: all .3s;
}

.btn-submit:hover{
    border: 1px solid var(--color-primary);
    font-size: 1.6rem;
    background-color: var(--color-white);
    color: var(--color-primary);
    cursor: pointer;
    transition: all .3s;
    box-shadow: 10px 9px 25px -9px rgba(0,0,0,0.75);
}

/* FOOTER *****************************/

.footer{
    background-color: var(--color-secondary);
    min-height: 20rem;
    padding: 4rem 0 1rem;
}

.footer-card{
    height: 10rem;
    border: 1px solid var(--color-white);
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-card_icon{
    max-width: 4rem;
    height: 4rem;
    margin-right: 1.2rem;
}

.footer-card_info{
    margin-top: 1.4rem;
}

.footer-card_info h4{
    color: var(--color-white);
    font-weight: bold;
    margin-bottom: .2rem;
    font-size: 1.7rem;
}

.footer-card_info p{
    color: var(--color-white);
    margin-top: .1rem;
    font-size: 1.5rem;
}

.footer-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.footer-block h5{
    color: var(--color-primary);
    font-size: 1.8rem;
    text-align: center;
}

.footer-link_card{
    display: flex;
}

.footer-link_icon{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--color-white);
    margin: .5rem;
    transition: all .3s;

}

.footer-link_icon:hover{
    padding: .5rem;
    transition: all .3s;
    transform: rotate(360deg);
}

.footer-link_icon{
    height: 5rem;
    object-fit: cover;
}

.footer-copyright{
    font-size: 1.4rem;
    color: rgb(211, 211, 211);
}

/* MEDIA QUERIE */


@media (max-width: 858px){
    .header{
        height: 60vh;
    }

    .about-description{
        padding: 2rem;
        text-overflow: ellipsis;
    }

    .services-card{
        min-height: 20rem;
        width: 90%;
        padding: 1rem;
    }

    .expertise{
        padding: 0;
        min-height: 50rem;
    }

    .expertise-description{
        margin-top: 0;
    }
}


@media screen and (max-width: 767px){
    .about-illustrator,
    .expertise-illustration{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        height: 26rem;
    }
    
    .about-illustrator img,
    .expertise-illustration{
        height: 26rem;
    }

    .expertise-illustration{
        margin-top: 2rem;
    }

    .sectionFour {
        margin-top: 10rem;
        padding: 4rem;
    }

    .box-content{
        width: 100%;
    }

    .sectionFour-card {
        height: 12rem;
        width: 95%;
    }

    .sectionFour-card__description h3{
        font-size: 1.8rem;
    }

    .sectionFour-card__illustration {
        width: 5rem;
        height: 5rem;
        top: -20%;
        left: -14%;
    }

    .sectionFive-card{
        min-height: 18rem;
    }

    .sectionFive-illustration {
        margin-top: 0;
        min-height: 18rem;
        width: 100%;
        background-color:#974848;
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .partenaire{
        margin-top: 5rem;
        margin-bottom: 2.5rem;

    }

    .contact-form {
        width: 90%;
        margin: 0 auto;
    }

    .contact-form_input {
        display: block;
    }

    .contact-form_input input {
        width: 100%;
        margin: 1rem;
        height: 3.8rem;
        padding-left: 1rem;
    }

    .contact-form_input textarea {
        margin: 1rem;
        max-width: 100%;
        padding-left: 1rem;
        padding-top: 1.3rem;
        font-size: 1.4rem;
        height: 10rem;
    }

    .box-partenaire_card {
        flex: 20%;
        height: 9rem;
        background-color: 
        #aaa9a9;
        margin-right: 2rem;
        margin-bottom: 1.4rem;
    }

    .footer-block{
        display: block;
        justify-content: center;
        padding: 3rem 0 0;
    }

    .footer-link_card{
        justify-content: center;
    }

    .footer-copyright{
        margin-top: 3rem;
    }
}

@media screen and (max-width: 992px){
    .sectionFive-illustration {
        margin-top: -2rem;
    }

    .partenaire {
        margin-top: 4.5rem;
        margin-bottom: 2.5rem;
    }

    .sectionFour-card {
        height: 12rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--color-white);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;
    }
}
