@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --color-primary: #E98E1B;
    --color-secondary: #204051;
    --color-white: white;
    --color-black: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-white);
    z-index: 1;
}


/* GENERALE **************************/

.box-content{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.padCard{
    padding: 0;
}

.marCard-10{
    margin-top: 10rem;
}

.mt-50{
    margin-top: 5rem;
}

a, a:hover{
    text-decoration: none;
}

/* NAVBAR ****************************/


.navbar{
    background: var(--color-secondary);
    min-height: 80px;
    width: 100%;
}

.navbar .logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.navbar ul{
    float: right;
    margin-right: 20px;
    margin-bottom: 0;
}

.navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 4px 0px;
}

.navbar ul li a{
    color: white;
    font-size: 17px;
    padding: 10px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

/* .navbar ul li a.active, .navbar ul li a:hover{
    background: #1b9bff;
    transition: .5s;
} */

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* HEADER ************************/

.header{
    height: 90vh;
    width: 100%;
    background-color: brown;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);

}

/* ABOUT ***********************/

.about{
    background-color: var(--color-white);
}

.about-illustrator{
    width: 100%;
    height: 50rem;
    background-color: var(--color-white);
    margin-top: -10rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 36px -20px rgba(0,0,0,0.75);
}

.about-description h3,
.expertise-description h3{
    text-transform: capitalize;
    font-size: 2.8rem;
    color: var(--color-secondary);
    font-weight: bolder;
}

.divider{
    width: 7%;
    height: .2rem;
    background-color: var(--color-secondary);
    border-radius: 1.5rem;
}

.about-description p,
.expertise-description p{
    font-size: 1.6rem;
    text-align: justify;
    margin-top: 3rem;
}

/*  SERVICES **************************/

.services{
    padding: 6rem 0;
    background-color: var(--color-white);
}

.services h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-left: 6rem;
    margin-bottom: 3rem;
    text-transform: capitalize;
}

.services-card{
    min-height: 24rem;
    width: 80%;
    margin: 0 auto;
    border: .1rem solid rgb(175, 175, 175);
    /* border-top: .6rem solid var(--color-secondary); */
    padding: 2rem;
    border-radius: 1rem;
    transition: all .5s;
}

.services-card:hover{
    border: 0;
    border-top: none;
    box-shadow: 0px 0px 36px -20px rgba(0,0,0,0.75);
    border-radius: 1rem;
    transition: all .5s;
}

.services-card__illustration{
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
}

.services-card__illustration img{
    height: 10rem;
    object-fit: cover;
}

.services-card h3{
    text-align: center;
    margin-top: 2.3rem;
    color: var(--color-secondary);
}

/* EXPERTISE  ***************************/

.expertise{
    padding: 6rem 0;
    z-index: 999999;
    background-color: var(--color-white);
}

.expertise-description{
    margin-top: 10rem;
}

.expertise-illustration{
    width: 100%;
    height: 50rem;
    background-color: var(--color-white);
    border-radius: 2rem;
    box-shadow: 0px 0px 36px -20px rgba(0,0,0,0.75);
    position: absolute;
    z-index: 99999999;
    margin-top: 6rem;
}

/* SECTION FOUR */

.sectionFour{
    min-height: 40rem;
    width: 100%;
    background-color: var(--color-secondary);
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
    margin-top: -5rem;
    padding: 4rem;
}

.sectionFour-card{
    height: 12rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-white);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.sectionFour-card:hover{
    transform: scale(1.15);
    transition: all .3s;
}

.sectionFour-card__illustration{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--color-white);
    border: .1rem solid var(--color-primary);
    box-shadow: 10px 9px 25px -9px rgba(0,0,0,0.75);
    position: absolute;
    top: -20%;
    left: -10%;
}

.sectionFour-card__description h3{
    font-size: 2rem;
    font-weight: bold;
}

.sectionFour-card__description p{
    font-size: 1.5rem;
}

/* SECTION FIVE ****************************/

.sectionFive{
    background-color: var(--color-white);
}

.sectionFive-title{
    padding: 6rem 0;
}

.sectionFive-title span{
    font-weight: bold;
    color: var(--color-primary);
    font-size: 1.3rem;
}

.sectionFive-title h2{
    font-size: 2.5rem;
    color: var(--color-secondary);
}

.sectionFive-title p{
    font-size: 1.5rem;
    margin-top: 3rem;
    text-align: justify;
}

.sectionFive-illustration{
    height: 23rem;
    width: 100%;
    background-color: #f3f3f3;
    margin-top: 12rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-icon{
    flex: 1;
    height: 11.2rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    margin-right: 3rem;
}

.icon-info{
    flex: 3;
}

.icon-info h2{
    font-size: 2rem;
    font-weight: bold;
}

.icon-info p{
    font-size: 1.5rem;
    margin-top: 2rem;
}

/* PARTENAIRE ***************************/

.partenaire{
    background-color: var(--color-white);
}

.partenaire-title{
    margin-bottom: 4rem;
}

.partenaire-title h1{
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--color-secondary);
}

.box-partenaire{
    display: flex;
    flex-wrap: wrap;
}

.box-partenaire_card{
    flex: 10%;
    height: 9rem;
    background-color: #aaa9a9;
    margin-right: 2rem;
    margin-bottom: 1.4rem ;
}

/* CONTACT ************************/

.contact{
    min-height: 25rem;
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 4rem;
    padding: 3rem;
}

.contact h1{
    text-align: center;
    font-size: 2.8rem;
    color: var(--color-secondary);
    margin-bottom: 2rem;
    font-weight: bold;
}

.contact-form{
    width: 50%;
    margin: 0 auto;
}

.contact-form_input{
    display: flex;
}

.contact-form_input input{
    flex: 1;
    margin: 1.4rem;
    height: 4.5rem;
    padding-left: 1.3rem;
    font-size: 1.4rem;

}

.contact-form_input input:focus,
.contact-form_input textarea:focus{
    outline: none;
    border: 1px solid var(--color-primary);
}

.contact-form_input textarea{
    margin: 1.4rem;
    width: 100%;
    padding-left: 1.3rem;
    padding-top: 1.3rem;
    font-size: 1.4rem;
    height: 15rem;
}

.btn-submit{
    border: none;
    padding: .8rem 2rem;
    font-size: 1.6rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    transition: all .3s;
}

.btn-submit:hover{
    border: 1px solid var(--color-primary);
    font-size: 1.6rem;
    background-color: var(--color-white);
    color: var(--color-primary);
    cursor: pointer;
    transition: all .3s;
    box-shadow: 10px 9px 25px -9px rgba(0,0,0,0.75);
}

/* FOOTER *****************************/

.footer{
    background-color: var(--color-secondary);
    min-height: 20rem;
    padding: 4rem 0 1rem;
}

.footer-card{
    height: 10rem;
    border: 1px solid var(--color-white);
    border-style: dashed;
}

.footer-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.footer-block h5{
    color: var(--color-primary);
    font-size: 1.8rem;
    text-align: center;
}

.footer-link_card{
    display: flex;
}

.footer-link_icon{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--color-white);
    margin: .5rem;
}

.footer-copyright{
    font-size: 1.4rem;
    color: rgb(211, 211, 211);
}

/* MEDIA QUERIE */

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    .navbar ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .navbar ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navbar ul li a{
        font-size: 20px;
    }

    .navbar ul li a:hover, .navbar ul li a.active{
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul{
        left: 0;
    }
}
